.articulos {
  width: 40%;
  padding: 50px 0 0 50px;
}

.articulo {
	margin-bottom: 75px;
	border-bottom: 3px solid $color_secundario;
	&__categoria {
		font-weight: 500;
		font-size: 16px;
		color: $color_secundario;
		font-family: $fuente2;
		text-transform: uppercase;
	}
	&__titulo{
		font-size: 20px;
		font-family: $fuente2;
		text-transform: uppercase;
	}
	&__descripcion{
		margin-bottom: 30px;
		padding-right: 100px;
	}
}